.product-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: all linear .2s;

    h3{
        font-weight: 500;
    }

    &:hover > .product-card-price {
        background: $primary-color;
        color: white;
    }

    .product-card-price {
        border-top: solid 1px rgba(128, 128, 128, .4);
        width: 100%;
        text-align: center;
        transition: all linear .2s;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
